___
# Ciência dos Dados - PROJETO 1

## Luciana Cocito Alves de Freitas
___

## Diferença de salários entre homens e mulheres em São Paulo

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\lucia\OneDrive\Documentos\GitHub\CD DP\P1

In [5]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

dado = pd.read_csv("PES2011csv.zip", compression = "zip", header = 0, sep = ",", quotechar = '"')
dado.head()

,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,2011,11,11000000.0,1,1,2,25,12,1961,49,...,4.0,1.000000e+12,99.0,2,1.0,2.0,2.0,1.0,1.000000e+12,20100000.0
1,2011,11,11000000.0,1,2,4,1,4,1978,33,...,4.0,1.000000e+12,99.0,6,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
2,2011,11,11000000.0,1,3,4,15,6,1996,15,...,4.0,1.000000e+12,99.0,3,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
3,2011,11,11000000.0,1,4,2,3,12,2001,9,...,4.0,1.000000e+12,99.0,2,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
4,2011,11,11000000.0,2,1,4,16,10,1959,51,...,4.0,1.461000e+03,5.0,4,1.0,2.0,2.0,1.0,1.461000e+03,20100000.0

In [6]:
dado = dado.loc[:, ["UF", "V0302", "V8005","V4801", "V4728", "V4810", "V4718", "V9058"]]
dado.to_csv("resumo.csv") #salva em um arquivo no excel
dado_not_null = dado[pd.notnull(dado.V0302)& pd.notnull(dado.V8005)& pd.notnull(dado.V4801)& pd.notnull(dado.V4728)& pd.notnull(dado.V4810)& pd.notnull(dado.V4718)& pd.notnull(dado.V9058)]
dado_not_null.head()

    UF  V0302  V8005  V4801  V4728  V4810   V4718  V9058
9   11      4     11   16.0      1    4.0    80.0   10.0
19  11      2     24   22.0      1    8.0   900.0   44.0
36  11      2     23   25.0      1    3.0  1000.0   44.0
37  11      4     21   25.0      1    1.0  1600.0   20.0
43  11      2     21   25.0      1    6.0  1000.0   40.0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!